<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Jennifer's Blog{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    		<!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'blog/css/highlights/github.css' %}">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        {# MEDIUM STYLE EDITOR#}
        <script src={% static 'blog/js/medium-editor.min.js' %}></script>
        <link rel="stylesheet" href="{% static 'blog/css/font-awesome.min.css' %}">

        {# Custom CSS#}
        <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">

        {# Fonts#}
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                      </div>
                      <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                          {% include 'blog/nav.html' %}
                        </ul>
                      </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                  </nav>
        <div class="wrapper" style="padding-top:55px;">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3 href={% url 'get_recent_posts' %}>Jennifer &#10084; Blog</h3>
                </div>
                <div class="profile">
                <figure class="profile-userpic">
                    <img src="{% static 'blog/img/me_sun.jpg' %}" class="img-responsive" alt="Profile Picture">
                </figure>
                </div>
                <div class="social">
                <ul class="list-unstyled components multi-columns">
                    {% include 'blog/social.html' %}
                </ul>
                </div>

            </nav>

            <!-- Page Content Holder -->
            <div id="content">
            <div id="post">
                {% block content %}
                    {% endblock %}
            </div>
            </div>

        </div>


        <!-- mobile version
    ================================================== -->

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'blog/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'blog/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'blog/js/proper.min.js' %}"></script>
    <script src="{% static 'blog/js/ie-emulation-modes-warning.js' %}"></script>
    <script src="{% static 'blog/vendor/jquery/jquery.sidebar.min.js' %}"></script>
<!-- Menu Toggle Script -->

</body>

</html>